th,
td {
  padding: 5px;
}
th {
  font-weight: bold;
  text-align: center;
}
span {
  display: inline-block;
}
.grades {
  font-size: x-small;
}
p {
  padding: 5px;
  text-align: justify;
  font-weight: bold;
  margin: auto;
}
h2 {
  text-align: center;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.caps {
  text-transform: capitalize;
}
#addressTableDiv {
  background-color: #a4dded;
  width: 410px;
  margin: auto;
}
#addressTableDiv span label {
  font-weight: bold;
}
#addressTableDiv input {
  text-transform: capitalize;
}
#addressTableDiv span {
  width: 115px;
  text-align: right;
  padding: 5px;
}
#errorMsgDiv {
  text-align: left;
  color: red;
  font-weight: bold;
  max-width: 600px;
  padding: 5px;
}
#successMsgDiv {
  text-align: left;
  border-style: none;
  border-width: 1px;
  border-color: green;
  color: green;
  font-weight: bold;
  max-width: 200px;
  background-color: inherit;
  margin: none;
  padding: none;
}
span.interviewSpan {
  width: 300px;
}
.interviewInputlabel {
  display: inline-block;
  font-weight: bold;
  width: 100px;
}

.button {
  background-color: #5deccd;
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #cefcf2;
  color: rgb(73, 121, 153);
}
